@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Atomic+Age&family=BioRhyme:wght@200..800&family=Imbue:opsz,wght@10..100,100..900&family=Kalnia:wght@100..700&family=Ojuju:wght@200..800&family=Stardos+Stencil:wght@400;700&family=Stint+Ultra+Expanded&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    background-color: rgb(26, 121, 100);
    width: 100%;
    height: 250px;
    display: block;
    color: rgb(232, 255, 247);;
    flex: 1;
    align-self: flex-end
}

body{
    color: rgb(26, 121, 100);
    background-color: rgb(190, 255, 233);
    font-family: "Imbue", serif;
}

.imagemsabrina{
    width: 370px;
    border-radius: 100px;
    margin: 30px 40px 10px 40px ;
    float: left;
}

h1{
    font-size: 90px;
    font-family: "Kalnia", serif;
}

h2{
    text-align: right;
    font-size: 65px;
    margin: 20px 40px 20px 0px;
    color: rgb(255, 255, 255);
}

.h2index{
    color: rgb(26, 121, 100);
}

h3{
    margin: 0px 40px;
    text-align: justify;
    font-size: 30px;
}

.descricao{
    font-size: 40px;
}

.menu{
    /*margin: 40px;*/
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.meusfavoritos{
    background-color: rgb(229, 248, 241);
    margin: 40px 0px;
}

.itemmenu{
    color: rgb(229, 248, 241);
    background-color: rgb(26, 121, 100);
    padding: 20px 100px;
    border-radius: 30px;
    margin: 20px;
    text-decoration: double;
    font-size: 40px;
}

.itemmenu:hover{
    color: rgb(247, 251, 250);
    background-color: rgb(72, 179, 156);
}

.favoritos{
    margin: 10px 40px;
}

img{
    width: 190px;
    float: left;
    margin: 20px;
}

.itemfavorito{
    color: rgb(190, 255, 233);
    background-color: rgb(26, 121, 100);
    padding: 20px;
    margin: 20px 0px;
    
}

.autora{
    float: right;
    width: 150px;
    border-radius: 50%;
}

.painelmusica{
    width: 950px;
    float:none;
}

.cantoras{
    font-size: 400%;
    text-align: right;
}

.musica{
    width: 290px;
}

.itemfilmes{
    color: rgb(190, 255, 233);
    background-color: rgb(26, 121, 100);
    width: 380px;
    float:left;
    padding: 20px;
    margin: 40px;
    
}

.filmes{
    font-size: 40px;
    text-align: center;
    margin: 0;
}

.capafilme{
    margin: 20px;
    width: 300px;
}

.plataforma{
    text-align: center;
}