@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Atomic+Age&family=BioRhyme:wght@200..800&family=Imbue:opsz,wght@10..100,100..900&family=Kalnia:wght@100..700&family=Ojuju:wght@200..800&family=Stardos+Stencil:wght@400;700&family=Stint+Ultra+Expanded&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    background-color: aquamarine;
    width: 100%;
    height: 250px;
    display: block;
    color: rgb(26, 121, 100);
    flex: 1;
    align-self: flex-end
}

body{
    color: azure;
    background-color: rgb(26, 121, 100);
    font-family: "Imbue", serif;
}

img{
    width: 370px;
    border-radius: 100px;
    margin: 30px 40px 10px 40px ;
    float: left;
}

h1{
    font-size: 90px;
    font-family: "Kalnia", serif;
}

h2{
    text-align: right;
    font-size: 60px;
    margin: 20px 40px 20px 0px;
}

h3{
    margin: 0px 40px;
    text-align: justify;
    font-size: 30px;
}

.menu{
    /*margin: 40px;*/
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.meusfavoritos{
    background-color: rgb(14, 85, 70);
    margin: 40px 0px;
}

.itemmenu{
    background-color: rgb(71, 196, 154);
    padding: 20px 100px;
    color: rgb(12, 77, 63);
    border-radius: 30px;
    margin: 20px;
    text-decoration: double;
    font-size: 40px;
}

.itemmenu:hover{
    background-color: rgb(110, 241, 198);
}

.favoritos{
    margin: 10px 40px;
}